@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
:root{
	--white: #fff;
	--bg-color: #60FFD1;
	--grey-300: #F3F3F3;
	--grey-500: #DBDBDA;
	--grey-800: #CCCCC9;
}
html{
	font-size: 62.5%;
	/*overflow-x: hidden;*/
}
body{
	/*overflow-x: hidden;*/
}
.header{
	width: 100%;
	padding: 1.2rem 0rem;
	background-color: var(--grey-500);
	display: flex;
	align-items: center;
	height: 5.1rem;
}
.logo{
	flex: 1;
	text-align: center;
}
.menu-icon{
	font-size: 2.3rem; 
	position: absolute;
	left: 1.4rem;
	top: 1.7rem;
	color: var(--white);
	text-shadow: 1px 1px 2px black;
	display: none;
}
nav{
	flex: 4;
    text-align: right;
    padding-right: 9rem;
}
nav > a{
	font-size: 1.7rem;
    text-decoration: none;
    padding-left: 7rem;
}

@media only screen and (max-width: 950px) {
	html{
		font-size: 55%;
	}
}

@media only screen and (max-width: 450px) {
	html{
		font-size: 55%;
	}
	.header{
		display: block;
		/*height: auto;*/
	}
	.header h1{
		text-align: left;
		padding-left: 5rem;
	}
	nav a{
		display: block;
		text-align: left;
		padding-left: 5rem;
		padding-top: 2rem;
		font-size: 1.7rem;
		font-weight: 600;
		width: 60%;
		height: auto;
	}
	.navbar{
		transform: translateX(-100%);
    	transition: all 0.5s linear;
	    pointer-events: none;
	}
	.active {
	    transform: translateX(0);
	    opacity: 1;
	    visibility: visible;
	    pointer-events: auto;
	    background-color: var(--grey-500);
  	}
	.menu-icon{
		display: block;
	}
}